@import url(https://fonts.googleapis.com/css?family=Khula:700);

.one{
    color: rgb(224, 16, 16);
}

.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.main_item{
  /* padding: 10px; */
  margin-right: 0.3125em;
  height: 8em;
  width: 8em;
  border-radius: 20%;

  animation: bounce; 
  animation-duration: 2s; 
  
}

.dice_pic_1{
  background: url("../pic/dicePic/dice1.png") no-repeat;
}

.dice_pic_2{
    background: url("../pic/dicePic/Dice2.png") no-repeat;
}

.dice_pic_3{
    background: url("../pic/dicePic/Dice3.png") no-repeat;
}

.dice_pic_4{
    background: url("../pic/dicePic/Dice4.png") no-repeat;
}

.dice_pic_5{
    background: url("../pic/dicePic/Dice5.png") no-repeat;
}

.dice_pic_6{
    background: url("../pic/dicePic/Dice6.png") no-repeat;
}

/* .comboModal-option:hover, */
.dice-on-hold-back-light{
  box-shadow: 0 0 10px 5px #6563ff;
}

/* The modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#playerNameInput{
  margin-bottom: 12px;
}

/* combo modal carusel */
.comboModal-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 999;
  overflow: hidden;
  padding-top: 6%;
}

.comboModal-carousel {
  display: flow-root;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 310px; /* Set a maximum height for the carousel */
  overflow-y: auto;
}

.comboModal-option {
  width: 200px;
  height: 50px;
  background-color: #ccc;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.non-clickable-carousel-Btn {
  pointer-events: none; /* Disable pointer events to prevent interaction */
  opacity: 0.5; /* Optionally reduce opacity to visually indicate non-clickable state */
  cursor: not-allowed; /* Change cursor to indicate non-clickable state */
  background-color: #6563ff;
}

/* ************************************** */
/* End Game modal */
.endGameModal-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
  padding-top: 6%;
  /* Apply the animation to the modal */
  animation: fadeIn 0.5s ease-in-out; /* Adjust the duration as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* body {
  background: #111;
} */
.hidden {
  opacity:0;
}
.console-container {
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.hidden {
    display: none;
  }

.bottom-center-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: 300px;
}