.one{
    color: rgb(224, 16, 16);
}

.main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.main_item{
  /* padding: 10px; */
  margin-right: 5px;
  height: 128px;
  width: 128px;

  animation: bounce; 
  animation-duration: 2s; 
  
}

.dice_pic_1{
  background: url("../pic/dicePic/dice1.png") no-repeat;
}

.dice_pic_2{
    background: url("../pic/dicePic/Dice2.png") no-repeat;
}

.dice_pic_3{
    background: url("../pic/dicePic/Dice3.png") no-repeat;
}

.dice_pic_4{
    background: url("../pic/dicePic/Dice4.png") no-repeat;
}

.dice_pic_5{
    background: url("../pic/dicePic/Dice5.png") no-repeat;
}

.dice_pic_6{
    background: url("../pic/dicePic/Dice6.png") no-repeat;
}

/* The modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#playerNameInput{
  margin-bottom: 12px;
}

